*.cnt.*
*.err
*.backup
*.dbg
*.dump
*.ttx
mepc/w/gpcsl
mepc/w/gpc25
mepc/w/o
mepc/w/tpcsl
mepc/w/tpc25
svg
misc_files
00raw
backup.*
*~
.~*
.[a-z]*
D
*.log
log
*.out
*.xz
*.zip
01*
02*
00etc/pc25/w/*
PC25+.ttf
signlist/
