h1 { font-size: 120%; font-weight: bold; }
h2 { font-size: 110%; font-weight: bold; }

.ce { margin: 0px !important; }

.slname { font-size: 80%; }
.slucun { line-height: 2; }

.pretty .spacer { color: #f5f5f5; }

.ns-frac { font-size: 80%; }

@media print { #p4CuneifyBar { display: none; } }

.broken {
  background-image: url('https://build-oracc.museum.upenn.edu/breaks.png');
  background-repeat: repeat;
}

/* Standalone cuneify pages have #p4Pager.dcfy */
#p4Pager.dcfy #p4XtfData { flex: 1 1 40%; display: inline-block; vertical-align: top;
			   overflow-y: unset; }

#p4Item>#p4Cuneify {
    flex: 1 1 20%; display: inline-block; vertical-align: top; overflow-y: auto; }

#p4XtfMeta { flex: 0 0 15%; display: inline-block; vertical-align: top;
	     border-right: solid lightgray 1px;
	     height: 85%; overflow-y: auto; }

#p4XtfData { flex: 1 1 40%; display: inline-block; vertical-align: top;
	     height: 85%; overflow-y: auto; }

#p4Images { flex: 1 1 25%; display: inline-block; vertical-align: top; overflow-y: auto; }

.cuneify-label { vertical-align: top; width: 15%; }

.cuneify-content { text-align: left; vertical-align: top;
		   border-bottom: solid 1px lavender; }

table.csltab { border-collapse: separate;
	       border-spacing: 0;
	     }

table.csltab tbody { }

table.csltab th,
table.csltab td {
        border-bottom: 1px #c0c0c0 solid;
        border-right: 1px #c0c0c0 solid;
        padding: 0.2em;
        vertical-align: middle;
}

table.csltab thead th { position: sticky; top: 0px;
			border-top: 2px black solid;
			border-right: 1px black solid;
			border-bottom: 2px black solid;
		      }

table.csltab thead th:first-child {
    border-left: 2px black solid;
}
table.csltab thead th:last-child {
    border-right: 2px black solid;
}

table.csltab th:first-child {
    border-left: 1px #c0c0c0 solid;
}

table.csltab td:first-child {
    border-left: 1px #c0c0c0 solid;
}

table.csltab th[rowspan],
table.csltab tbody tr:last-child th,
table.csltab tbody tr:last-child td {
    border-bottom: 1px black solid;
}


table.csltab th {
        background: #dcdcdc;
        text-align: left;
        font-weight: normal;
}

table.csltab td { text-align: right; }
