td .imageinline { margin: 0px; }

td:nth-child(1) {
    width: 15%;
}

td:nth-child(2) {
    width: 15%;
}

td:nth-child(3) {
    width: 15%;
    text-align: center;
    vertical-align: top;
}

td .imageinline { margin: 0px; }

td:nth-child(4) {
    width: 20%;
}

td:nth-child(5) {
    width: 25%;
}
